In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_configs = pd.read_csv('./regnet_convs.csv')
raw_configs.tail()

      in_channels  out_channels  kernel_size  stride  groups  hw
7993         3944          3944            3       1      17   7
7994         3944          3944            3       2      17   7
7995         3944          3944            1       1       1   7
7996         3944           986            1       1       1   7
7997          986          3944            1       1       1   7

In [3]:
cfg_str_set = set()
unique_configs = pd.DataFrame()
for i, row in raw_configs.iterrows():
    cfg_str = '_'.join([str(x) for x in row.to_dict().values()])
    if cfg_str not in cfg_str_set:
        cfg_str_set.add(cfg_str)
        unique_configs = pd.concat([unique_configs, raw_configs.iloc[i:i+1, :]], ignore_index=True)
unique_configs.tail()

      in_channels  out_channels  kernel_size  stride  groups  hw
4818         3944          3944            3       1      17   7
4819         3944          3944            3       2      17   7
4820         3944          3944            1       1       1   7
4821         3944           986            1       1       1   7
4822          986          3944            1       1       1   7

In [4]:
np.random.seed(2022)
unique_configs = unique_configs.sample(frac=1).reset_index(drop=True)
unique_configs.tail()

      in_channels  out_channels  kernel_size  stride  groups   hw
4818            4            16            1       1       1  112
4819          420          1680            1       1       1   14
4820         2088          2088            3       1       9   14
4821           88            22            1       1       1   28
4822         1152          1152            1       1       1    7

In [5]:
with open('./regnet_convs_unique.csv', 'w') as f:
    f.write(unique_configs.to_csv(index=False))